In [1]:
from joblib import load

In [2]:
model = load('classifier.joblib')
print(model)

KNeighborsClassifier()

In [ ]:
#pip install jupyter
#python -m ipykernel install --user --name=venv --display-name "Python (venv)"

In [3]:
import pandas as pd
x=pd.read_csv("X.csv")

In [7]:
x

,Email No.,the,to,ect,and,for,of,a,you,hou,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1111,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,0,1,0
2,2222,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3333,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,4444,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,4632,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,4633,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,0,1,0
5169,4635,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,0
5170,4636,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,0,1,0
5171,4637,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [56]:
x["military"]

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    0
5170    0
5171    0
Name: military, Length: 5172, dtype: int64

In [9]:
df = pd.DataFrame(
        {
            "military": [1],
            "enhancements":  [2],
            "connevey": [3],
            "index": [4],
        }
    )

In [14]:
df["index"].values[0]+1

np.int64(5)

In [18]:
a=df.iloc[0]

In [20]:
a["index"]=2

In [49]:
i=10
ligne_i = x[i]
ligne_i.shape

(3001,)

In [50]:
ligne_i=ligne_i.reshape(1, -1)
ligne_i.shape

(1, 3001)

In [52]:
int(model.predict(ligne_i))

/tmp/ipykernel_36649/2832952007.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(model.predict(ligne_i))

1

In [21]:
X = pd.read_csv("X.csv")

In [23]:
df = pd.DataFrame(
        {
            "military": [1],
            "enhancements": [2],
            "connevey": [3],
            "index": [4],
        }
    )

In [ ]:
index = df["index"].values[0]

In [25]:
df_test = X.iloc[index]

In [ ]:
df_test["enhancements"] = df["enhancements"]
df_test["connevey"] = df["connevey"]

/tmp/ipykernel_136922/1929829184.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_test["military"] = df["military"]
/tmp/ipykernel_136922/1929829184.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_test["enhancements"] = df["enhancements"]
/tmp/ipykernel_136922/1929829184.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_test["connevey"] = df["connevey"]

In [31]:
df_test["military"] = int(df["military"].iloc[0])

In [32]:
ligne_i = df_test.values
ligne_i = ligne_i.reshape(1, -1)

In [33]:
ligne_i

array([[4444,    7,    6, ...,    0,    1,    0]])

In [34]:
model = load('classifier.joblib')

In [42]:
(model.predict(ligne_i)==1)[0]==1

np.False_

In [43]:
prediction = "Survived 🎉" if (model.predict(ligne_i)==1)[0]==1 else "Dead ⚰️"

In [44]:
prediction

'Dead ⚰️'